{% extends 'top.html' %}

{% block title %}Đăng kí{% endblock %}

{% block content %} 
<div class="container">
    <div class="col-md-6">
        <h2>Đăng ký tài khoản</h2>
        <form method="POST" action="/register">
            <div class="form-group">
                <label for="username">Tên người dùng:</label>
                <input type="text" class="form-control input" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" class="form-control input" id="password" name="password" required>
            </div>
            <div class="submit">
                <button type="submit" class="btn btn-primary button">Đăng ký</button>
                <p class="login_yet">Đã có tài khoản? <a href="/login">Hãy đăng nhập</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}